.path-mod-coursesat .smalltext {
    font-size: 0.75em;
}

.path-mod-coursesat .coursesattable .rblock label {
    display: block;
}

.path-mod-coursesat .coursesattable .foundthat,
.path-mod-coursesat .coursesattable .preferthat {
    white-space: nowrap;
}

.path-mod-coursesat .coursesattable .buttoncell {
    width: 5%;
}

.path-mod-coursesat .coursesattable .optioncell,
.path-mod-coursesat .coursesattable .questioncell {
    width: 50%;
    vertical-align: top;
}

.path-mod-coursesat .coursesattable .whitecell {
    background-color: white;
}

.path-mod-coursesat #coursesatform th {
    font-weight: normal;
    text-align: left;
}

.path-mod-coursesat #coursesatform th.hresponse {
    text-align: center;
    width: 9%;
}

#page-mod-coursesat-report .fullnamecell {
    width: 10%;
    vertical-align: top;
    white-space: nowrap;
}